# Nama : Sannie Octavhia
# NIM : 2209106015
# Kelas : A1 Informatika 2022

## Mengimport semua library yang dibutuhkan

In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

## Memasukkan file csv agar dapat terbaca dan tampilkan

In [5]:
cani = pd.read_csv('glassdoor_reviews.csv')
cani.head()

,firm,date_review,job_title,current,location,overall_rating,work_life_balance,culture_values,diversity_inclusion,career_opp,comp_benefits,senior_mgmt,recommend,ceo_approv,outlook,headline,pros,cons
0,AFH-Wealth-Management,2015-04-05,,Current Employee,NaN,2,4.0,3.0,NaN,2.0,3.0,3.0,x,o,r,"Young colleagues, poor micro management",Very friendly and welcoming to new staff. Easy...,"Poor salaries, poor training and communication."
1,AFH-Wealth-Management,2015-12-11,Office Administrator,"Current Employee, more than 1 year","Bromsgrove, England, England",2,3.0,1.0,NaN,2.0,1.0,4.0,x,o,r,"Excellent staff, poor salary","Friendly, helpful and hard-working colleagues",Poor salary which doesn't improve much with pr...
2,AFH-Wealth-Management,2016-01-28,Office Administrator,"Current Employee, less than 1 year","Bromsgrove, England, England",1,1.0,1.0,NaN,1.0,1.0,1.0,x,o,x,"Low salary, bad micromanagement",Easy to get the job even without experience in...,"Very low salary, poor working conditions, very..."
3,AFH-Wealth-Management,2016-04-16,,Current Employee,NaN,5,2.0,3.0,NaN,2.0,2.0,3.0,x,o,r,Over promised under delivered,Nice staff to work with,No career progression and salary is poor
4,AFH-Wealth-Management,2016-04-23,Office Administrator,"Current Employee, more than 1 year","Bromsgrove, England, England",1,2.0,1.0,NaN,2.0,1.0,1.0,x,o,x,client reporting admin,"Easy to get the job, Nice colleagues.","Abysmal pay, around minimum wage. No actual tr..."

# DataSplit 
## dengan perbandingan 70:30

In [6]:
X = cani.drop(columns='work_life_balance') 
y = cani['work_life_balance']

In [7]:
X_train, X_test, y_train, y_test, = train_test_split(X, y, test_size=0.3, random_state=28)

In [8]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(586996, 17)
(251570, 17)
(586996,)
(251570,)

### Disini kita melakukan DataSplit yang dimana kita menentukan X dan Y sebagai training_set dan testing_set

### Kita menggunakan testing_size 0,3 yang melambangkan 30% dari total data 100% sisanya menjadi 70%

# Data Transformation
# Standarisasi

### Memasukkan file csv untuk keperluan dataset

In [28]:
cani1= pd.read_csv ('glassdoor_reviews.csv')

### Melakukan Standarisasi menggunakan data float

In [29]:
slr = StandardScaler()
cani1[['overall_rating', 'culture_values', 'career_opp', 'comp_benefits']] = slr.fit_transform(cani1[['overall_rating', 'culture_values', 'career_opp', 'comp_benefits']])

# Normalisasi

### Melakukan Normalisasi data dengan menggunakan data float dan integer dan menampilkan hasil min dan max nya

In [30]:
mx = MinMaxScaler()
cani1[['overall_rating', 'culture_values', 'career_opp', 'comp_benefits']] = slr.fit_transform(cani1[['overall_rating', 'culture_values', 'career_opp', 'comp_benefits']])

In [31]:
cani.dtypes

firm                    object
date_review             object
job_title               object
current                 object
location                object
overall_rating           int64
work_life_balance      float64
culture_values         float64
diversity_inclusion    float64
career_opp             float64
comp_benefits          float64
senior_mgmt            float64
recommend               object
ceo_approv              object
outlook                 object
headline                object
pros                    object
cons                    object
dtype: object

In [32]:
cani1['work_life_balance'].max()

5.0

In [33]:
cani1['work_life_balance'].min()

1.0

# Data Cleaning
### Pada data duplikat

In [36]:
# Mengecek adanya duplikat data atau tidak
print("Nilai Duplikat Data : ")
cani.duplicated().sum()

Nilai Duplikat Data :

33515

### Menggabungkan data asli dan data copy dan tampilkan data duplikat dan menampilkan hasil data duplikat adalah 0

In [37]:
cani.drop_duplicates(inplace=True)

In [38]:
print("Nilai Duplikat Data : ")
cani.duplicated().sum()

Nilai Duplikat Data :

0

## Data Cleaning nilai null
### Menampilkan data yang memiliki nilai null dalam kolom agar kita dapat mengetahui data yang akan kita hapus

In [39]:
cani.isnull().sum()

firm                        0
date_review                 0
job_title                   0
current                     0
location               285095
overall_rating              0
work_life_balance      144060
culture_values         183364
diversity_inclusion    674160
career_opp             141726
comp_benefits          144242
senior_mgmt            149804
recommend                   0
ceo_approv                  0
outlook                     0
headline                 2451
pros                        2
cons                       13
dtype: int64

### Menggunakan modus untuk mengahapus data dengan memanggil label/atribut yang memiliki nilai null setelah itu tampilkan data lagi untuk melihat data null

In [42]:
cani_modus = SimpleImputer(strategy='most_frequent')
cani[['location', 'work_life_balance', 'culture_values', 'diversity_inclusion', 'career_opp', 'comp_benefits', 'senior_mgmt', 'headline', 'pros', 'cons']] = cani_modus.fit_transform(cani[['location', 'work_life_balance', 'culture_values', 'diversity_inclusion', 'career_opp', 'comp_benefits', 'senior_mgmt', 'headline', 'pros', 'cons']])

In [43]:
cani.isnull().sum()

firm                   0
date_review            0
job_title              0
current                0
location               0
overall_rating         0
work_life_balance      0
culture_values         0
diversity_inclusion    0
career_opp             0
comp_benefits          0
senior_mgmt            0
recommend              0
ceo_approv             0
outlook                0
headline               0
pros                   0
cons                   0
dtype: int64

## Mengganti salah satu tipe data attribute angka 
### Mengganti tipe data work_life_balance dari float menjadi object

In [44]:
cani1['work_life_balance'] = cani1['work_life_balance'].astype(object)

In [45]:
cani.dtypes

firm                   object
date_review            object
job_title              object
current                object
location               object
overall_rating          int64
work_life_balance      object
culture_values         object
diversity_inclusion    object
career_opp             object
comp_benefits          object
senior_mgmt            object
recommend              object
ceo_approv             object
outlook                object
headline               object
pros                   object
cons                   object
dtype: object

# One Hot Encoding

### Memasukkan kembali file csv agar dapat membaca dataset

In [46]:
cani2= pd.read_csv ('glassdoor_reviews.csv')

### Menentukan tabel yang akan digunakan sebagai data One Hot Encoding dan tampilkan kolomnya

In [63]:
cani[['job_title', 'overall_rating', 'recommend', 'outlook']]

                               job_title  overall_rating recommend outlook
0                                                      2         x       r
1                   Office Administrator               2         x       r
2                   Office Administrator               1         x       x
3                                                      5         x       r
4                   Office Administrator               1         x       x
...                                  ...             ...       ...     ...
838561                 Marketing Manager               5         v       v
838562                   Sales Associate               3         o       o
838563                        Strategist               4         v       o
838564   Customer Service Representative               5         o       o
838565        Human Resources Specialist               5         v       o

[805051 rows x 4 columns]

In [65]:
hot_cani = OneHotEncoder(sparse_output=False)
encoded_cani = hot_cani.fit_transform(cani2[['recommend', 'outlook']])

In [68]:
encoded = pd.DataFrame(encoded_cani, 
                       columns=['x', 'o', 'v', 'r', 'x', 'v', 'o'])
encoded

          x    o    v    r    x    v    o
0       0.0  0.0  1.0  0.0  1.0  0.0  0.0
1       0.0  0.0  1.0  0.0  1.0  0.0  0.0
2       0.0  0.0  1.0  0.0  0.0  0.0  1.0
3       0.0  0.0  1.0  0.0  1.0  0.0  0.0
4       0.0  0.0  1.0  0.0  0.0  0.0  1.0
...     ...  ...  ...  ...  ...  ...  ...
838561  0.0  1.0  0.0  0.0  0.0  1.0  0.0
838562  1.0  0.0  0.0  1.0  0.0  0.0  0.0
838563  0.0  1.0  0.0  1.0  0.0  0.0  0.0
838564  1.0  0.0  0.0  1.0  0.0  0.0  0.0
838565  0.0  1.0  0.0  1.0  0.0  0.0  0.0

[838566 rows x 7 columns]

# Menggabungkan dataset asli dengan data hasil One Hot Encoding 
### Dan menggunakan get_dummies dari Pandas untuk menerapkan One Hot Encoding lalu tampilkan data

In [69]:
cani2 = pd.concat([cani2, encoded], axis=1)
cani2.head()

,firm,date_review,job_title,current,location,overall_rating,work_life_balance,culture_values,diversity_inclusion,career_opp,...,headline,pros,cons,x,o,v,r,x,v,o
0,AFH-Wealth-Management,2015-04-05,,Current Employee,NaN,2,4.0,3.0,NaN,2.0,...,"Young colleagues, poor micro management",Very friendly and welcoming to new staff. Easy...,"Poor salaries, poor training and communication.",0.0,0.0,1.0,0.0,1.0,0.0,0.0
1,AFH-Wealth-Management,2015-12-11,Office Administrator,"Current Employee, more than 1 year","Bromsgrove, England, England",2,3.0,1.0,NaN,2.0,...,"Excellent staff, poor salary","Friendly, helpful and hard-working colleagues",Poor salary which doesn't improve much with pr...,0.0,0.0,1.0,0.0,1.0,0.0,0.0
2,AFH-Wealth-Management,2016-01-28,Office Administrator,"Current Employee, less than 1 year","Bromsgrove, England, England",1,1.0,1.0,NaN,1.0,...,"Low salary, bad micromanagement",Easy to get the job even without experience in...,"Very low salary, poor working conditions, very...",0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,AFH-Wealth-Management,2016-04-16,,Current Employee,NaN,5,2.0,3.0,NaN,2.0,...,Over promised under delivered,Nice staff to work with,No career progression and salary is poor,0.0,0.0,1.0,0.0,1.0,0.0,0.0
4,AFH-Wealth-Management,2016-04-23,Office Administrator,"Current Employee, more than 1 year","Bromsgrove, England, England",1,2.0,1.0,NaN,2.0,...,client reporting admin,"Easy to get the job, Nice colleagues.","Abysmal pay, around minimum wage. No actual tr...",0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [70]:
cani_dummies = pd.get_dummies(cani2[['recommend', 'outlook']]).replace(False, 0).replace(True, 1)

In [71]:
cani2 = pd.concat([cani2, cani_dummies], axis=1)

In [73]:
cani2.drop(columns=['recommend', 'outlook'], inplace=True)
cani2.head()

,firm,date_review,job_title,current,location,overall_rating,work_life_balance,culture_values,diversity_inclusion,career_opp,...,x,v,o,recommend_o,recommend_v,recommend_x,outlook_o,outlook_r,outlook_v,outlook_x
0,AFH-Wealth-Management,2015-04-05,,Current Employee,NaN,2,4.0,3.0,NaN,2.0,...,1.0,0.0,0.0,0,0,1,0,1,0,0
1,AFH-Wealth-Management,2015-12-11,Office Administrator,"Current Employee, more than 1 year","Bromsgrove, England, England",2,3.0,1.0,NaN,2.0,...,1.0,0.0,0.0,0,0,1,0,1,0,0
2,AFH-Wealth-Management,2016-01-28,Office Administrator,"Current Employee, less than 1 year","Bromsgrove, England, England",1,1.0,1.0,NaN,1.0,...,0.0,0.0,1.0,0,0,1,0,0,0,1
3,AFH-Wealth-Management,2016-04-16,,Current Employee,NaN,5,2.0,3.0,NaN,2.0,...,1.0,0.0,0.0,0,0,1,0,1,0,0
4,AFH-Wealth-Management,2016-04-23,Office Administrator,"Current Employee, more than 1 year","Bromsgrove, England, England",1,2.0,1.0,NaN,2.0,...,0.0,0.0,1.0,0,0,1,0,0,0,1